*.cfg
*.dof
*.dcu
*.res
*.dproj
*.identcache
*.dproj.local
*.exe
*__history
*.lps
*.dbg
urls.txt
bin/
lib/
build/
test
test_fpc
test_delphi
test_speed
make_unidata
project1
test1
**/venv/
site/
docs/_mkdocs.yml
**/_css/
.idea/
